/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
section.head{
  background-color: #FFDBAA;
  background-position: top;
  height: 80px;
  width: 3000px;
}

h1{
  position: absolute;
  top: 0px;
  left: 30px;
  color: #553100;
  font-size: xx-large;
}

.nav-button-group{
  text-align: right;
  position: absolute;
  top: 30px;
  right: 30px;
}

.nav-button-group button{
  background-color: #805215;
  color: white;
  height: 50px;
  width: 80px;
  font-size: medium;
}

body{
  background-color: #D4A76A;
  border: black;
  border-width: 20px;
}

.flights{
  background-color: white;
  height: 170px;
  width: 240px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  position:absolute;
  top: 120px;
  left: 200px;
}

.flights button{
  background-color: #805215;
  color: white
}
.group-trips{
  background-color: white;
  height: 170px;
  width: 240px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  position:absolute;
  top: 120px;
  left: 500px;
}

.group-trips button{
  background-color: #805215;
  color: white;
}

.discount-flights{
  background-color: white;
  height: 170px;
  width: 240px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  position:absolute;
  top: 120px;
  left: 800px;
}

.discount-flights button{
  background-color: #805215;
  color: white;
}

.about-us{
  background-color: white;
  height: 170px;
  width: 1100px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  position:absolute;
  top: 350px;
  left: 100px;
  padding: 10px;
}

.about-us button{
  background-color: #805215;
  color: white;
}